@font-face {
  font-family: "Minecraft"; /*a name to be used later*/
  src: url("Minecraft.ttf"); /*URL to font*/
}

#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #100010;
  background-color: rgba(16, 0, 16, 0.94);
  padding: 0.375em;
  font-family: Minecraft;
  font-size: 16px;
  word-spacing: 4px;
  white-space: nowrap;
  line-height: 1.5em;
  margin: 0.125em 0.25em;
  pointer-events: none;
  z-index: 9999;
  display: none;
}

#tooltip > span.primary {
  color: #3fbdbd;
  text-shadow: 2px 2px #102f2f;
}

#tooltip > span.secondary {
  color: #7e7e7e;
  text-shadow: 2px 2px #1f1f1f;
}

#tooltip > span.normal {
  color: #ffffff;
  text-shadow: 2px 2px #3f3f3f;
}

#tooltip > span.italics {
  font-style: italic;
  color: #5555ff;
  text-shadow: 2px 2px #15153f;
}

#tooltip > #recipe img {
  margin: 0.2em 0.1em;
}

#tooltip::before {
  content: "";
  position: absolute;
  top: 0.125em;
  right: -0.125em;
  bottom: 0.125em;
  left: -0.125em;
  border: 0.15em solid #100010;
  border-top-style: solid;
  border-top-color: rgb(16, 0, 16);
  border-right-style: solid;
  border-right-color: rgb(16, 0, 16);
  border-bottom-style: solid;
  border-bottom-color: rgb(16, 0, 16);
  border-left-style: solid;
  border-left-color: rgb(16, 0, 16);
  border-style: none solid;
  border-color: rgba(16, 0, 16, 0.94);
}

#tooltip::after {
  content: "";
  position: absolute;
  top: 0.125em;
  right: 0;
  bottom: 0.125em;
  left: 0;
  border: 0.125em solid #2d0a63;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-image: -webkit-linear-gradient(
      rgba(80, 0, 255, 0.31),
      rgba(40, 0, 127, 0.31)
    )
    1;
  border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31))
    1;
}
